cos:
  bucket:
  secretid:
  secretkey:

db:
  host: 127.0.0.1
  port: 3306
  user: root
  password: 123456
  database: coverage
  
cmq:
  queue: coverage-task-queue
    # apiurl : cmq-queue-gz.api.tencentyun.com
  apiurl :
  secretid:
  secretkey:
task:
  workspace: ./CoverTask/
git:
  user:
  password:

log:
  logDir: ./log

kafka:
  address:
  username:
  password:

